@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("./frontend/src/assets/fonts/static/Manrope-Regular.ttf")
    format("truetype");
  font-weight: 200 800; /* Adjust this range based on font's available weights */
  font-style: normal;
}
